@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&family=Ubuntu:wght@400&display=swap');

body {
    background-color: rgb(245, 247, 248);

    font-family: Poppins, sans-serif;
}

.btn {
    font-family: Roboto, sans-serif;
}
